.contact {
  padding-left: 3rem;
  padding-right: 3rem;
}

.contact .pr {
  width: 65ch;
}
@media not all and (min-width: 505px) {
  .contact .pr {
    width: 100%;
  }
}

.contact-options {
  grid-template-columns: 1fr 1fr;
}

@media not all and (min-width: 908px) {
  .contact-options {
    gap: 2rem;
  }
}

@media not all and (min-width: 640px) {
  .contact {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .contact-options {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-group label {
  font-weight: bold;
  font-size: 0.8rem;
  opacity: 0.8;
}

.input-group input,
.input-group textarea {
  padding: 0.5rem;
  border: 1px solid var(--border);
  font-weight: bold;
  height: 2.25rem;
  display: flex;
  align-items: center;
  border-radius: 0.45rem;
  outline: 0;
  font-family: "Manrope", sans-serif;
}

.input-group textarea {
  height: 5rem;
  resize: none;
  align-items: start;
}

.c-services .grid {
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  width: 100%;
}
@media not all and (min-width: 480px) {
  .c-services .grid {
    display: flex;
    flex-direction: column;
  }
}

.c-services .check {
  height: 1rem;
  width: 1rem;
  border: 1px solid var(--primary);
  border-radius: 0.28rem;
}

form .cta {
  width: 100%;
  margin-top: 1rem;
}

.contact-info div {
  background-color: #fafafc;
  padding: 1rem;
  border-radius: 0.75rem;
}

.contact-info div h2 {
  font-weight: bold;
  font-size: 1rem;
}
